.logo{
    width: 100px;
    height: auto;   
}
.container-fluid{
    padding-left: 30px;
    padding-right: 60px;
}
.slogan{
    padding: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60 pt;
    font-weight:100;
}